<!DOCKTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Style/Navigation.css">
    <link rel="stylesheet" type="text/css" href="../Style/BudgetBar.css">
    <link rel="stylesheet" type="text/css" href="../Style/CategorySelect(MainPage).css">
    <link rel="stylesheet" type="text/css" href="../Style/Table.css">
    <title>History</title>
</head>
<body>
<ul>
    <li><a href="MainPage.html.Twig" target="_self">Home</a></li>
    <li><a href="History.html.Twig">Hystory</a></li>
    <li><a href="Graphs.html.Twig">Graphs</a></li>
    <li id="User"><a  href="Users.html.Twig">User</a ></li>
</ul>

<img src="https://pbs.twimg.com/profile_images/1498190440/LOGO2T4.png" alt="Logo" style="width:40px;height:40px;">
<h1 class="HomeOptimizer">Home Optimizer</h1>


<form action="">
    From: <br>
    <input type="month" name="startmonth"><br>
    Til:  <br>
    <input type="month" name="endmonth"><br>
    <input type="submit" value="Select">
</form>
<table>
    <tr>
        <th>Time</th>
        <th>Light</th>
        <th>Temp</th>
        <th>Humidity</th>
        <th>Electricity</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>