<!DOCKTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Style/Navigation.css">
    <link rel="stylesheet" type="text/css" href="../Style/BudgetBar.css">
    <link rel="stylesheet" type="text/css" href="../Style/CategorySelect(MainPage).css">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="MainPage.html.Twig" target="_self">Home</a></li>
    <li><a href="History.html.Twig">Hystory</a></li>
    <li><a href="Graphs.html.Twig">Graphs</a></li>
    <li id="User"><a  href="Users.html.Twig">User</a ></li>
</ul>

<div class="dropdown">
    <button class="dropbtn">Temp inside</button>
    <div class="dropdown-content">
        <a href="#">Temp outside</a>
        <a href="#">Light</a>
        <a href="#">Humidity</a>
        <a href="#">Electricity</a>
    </div>
</div>
<p id="BudgetLimitTxt">Budget Limit</p>
<div id="myProgress">
    <div id="myBar"></div>
</div>
</body>
</html>