<!DOCKTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/Style/Login.css">
    <title>Register</title>
</head>
<body>
<form action="/Control/Register.php" method="post" >
    FirstName <input type="text" name="firstName"><br>
    LastName <input type="text" name="lastName"><br>
    Address <input type="text" name="address"><br>
    Email <input type="text" name="email"><br>
    Password <input type="password" name="password"><br>
    <input type="submit" value="register"><br>
    <a href="/View/MainPage.html.Twig" target="_self" >Register</a>
</form>
</body>
</html>