<!DOCKTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Style/Navigation.css">
    <title>User</title>
    <style>
        .needhelp{
            position: fixed;
            top: 25%;
            right: 10%;
        }
    </style>
</head>
<body>
<ul>
    <li><a href="MainPage.html.Twig" target="_self">Home</a></li>
    <li><a href="History.html.Twig">Hystory</a></li>
    <li><a href="Graphs.html.Twig">Graphs</a></li>
    <li id="User"><a  href="Users.html.Twig">User</a ></li>
</ul>
<img src="https://pbs.twimg.com/profile_images/1498190440/LOGO2T4.png" alt="Logo" style="width:40px;height:40px;">
<h1 class="HomeOptimizer">Home Optimizer</h1>

<a class="needhelp" href="Help.html.Twig" target="_self" >Need help?</a>
</body>
</html>