<!DOCKTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Style/Navigation.css">
    <link rel="stylesheet" type="text/css" href="../Style/BudgetBar.css">
    <link rel="stylesheet" type="text/css" href="../Style/CategorySelect(MainPage).css">
    <title>User</title>
</head>
<body>
<ul>
    <li><a href="MainPage.html.Twig" target="_self">Home</a></li>
    <li><a href="History.html.Twig">Hystory</a></li>
    <li><a href="Graphs.html.Twig">Graphs</a></li>
    <li id="User"><a  href="Users.html.Twig">User</a ></li>
</ul>

</body>
</html>